body{
  margin:0;
  padding:0;
  background-image:linear-gradient(to right ,black,#676262d9);
}
.header{
  /* background-image:linear-gradient(to right,#6c2a5661?,#6b2a57); */
}
.nav>li>a{
  color:white !important;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color:#74747487 !important;
}
.box1{
  margin-top:25px !important;
  box-shadow: 8px 8px 0px #0000001f;
  margin-left:15px;
}
.marked{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border:2px solid blue !important;
}
.selected {
  border: 1px solid #C00;
}
.panel-body{
  padding: 0px !important;
  background-color: #00000073;
}
.border{
  height:100px;
  width: 100px;
  border:1px solid #123456;
  margin:5px;
  cursor: pointer;
}
.border:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.text{
  font-size:15px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.text>a{
  text-decoration: none;
  color: black;
}
.p{
  cursor:pointer;
}


.border img{
  height:100%;
  width:100%;
}
.list,.list1,.list2{
  display:flex;
  width:auto;
  left:0;
  /* overflow-x:hidden;  */
  padding:1em;
  position:absolute;
}
li {
  list-style-type:none;
  /* margin:auto 10px;  */
}
.icon{
  display: flex;
  z-index: 10;
  align-items: center;
  height: 100%;
}
.scroller-left1, .scroller-left2, .scroller-left3{
  float: left;
}
.scroller-right1, .scroller-right2, .scroller-right3{
  float: right;
}
.scroller{
    cursor: pointer;
    margin-top: 50px;
}

.wrapper{
      display: flex;
      align-items: center;
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden; 
      height: 130px;
} 


.motif{
  margin-top:25px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.motif-box{
  display:flex;
  align-items: center;
  justify-content: center;
  height:400px;
  width:80%;
  /* border:1px solid black; */
  border-radius: 8px;
  box-shadow: -12px 15px 7px 2px #0000001f;
}
.motif-box img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.btn-group{
  margin-top: 20px;
}
.submit{
  margin-top:15px;
  border-radius: 8px;

  /* margin-bottom: 0px; */
}

.modal-box{
  height:200px;
  width:200px;
  background-color: blue;
  display: block;
  margin-top:13px;
}
.mdl{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
